
.container{
    border: 1px solid black;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 40px 300px 130px 50px;
    grid-template-areas: 
    "b1 b1 b1" 
    "b2 b2 b3"
    "b4 b5 b3"    ;
    gap: 5px 5px;
    align-items:  stretch;
    
}

#box-1{
    grid-area: b1;
}
#box-2{
    grid-area: b2;
}
#box-3{
    grid-area: b3;
}
#box-4{
    grid-area: b4;
    align-self: start;
    justify-self: end;
    font-size: large;
    height: 80px;
}
#box-5{
    grid-area: b5;
}


.box{
    border: 1px solid blue;
    background-color: tomato;
}